.loader{
    display: none;
    z-index:2000;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(238,238,238, 0.5);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
    bottom: 0;
}

.addUser{
	margin-bottom: 15px;
}