<section class="section">
  <div class="container">
      <div class="addUser">
        <button data-target="modal1" class="btn modal-trigger" (click)="openModal()"><i class="material-icons left">add</i>add user</button>
      </div>
      <div class=" red accent-4">{{errorMsg}}</div>
      <nav>
          <div class="nav-wrapper">
            <form (ngSubmit)="getSearch()">
              <div class="input-field">
                <input id="search" type="search" [(ngModel)]="searchStr" name="searchStr">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      <div *ngIf="users.length > 0">
        <table class="striped">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mail</th>
                <th>Phone</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.address}}</td>
                <td>{{user.mail}}</td>
                <td>{{user.phone}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</section>




  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add a New User</h4>
      <div class="row">
          <form class="col s12" (ngSubmit)="postUser()">
            
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" required [(ngModel)]="user.firstName" name="firstName">
                <label for="icon_prefix">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" required [(ngModel)]="user.lastName" name="lastName">
                <label for="icon_prefix">Last Name</label>
              </div>
              
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <input id="icon_prefix" type="text" class="validate" required [(ngModel)]="user.address" name="address">
                <label for="icon_prefix">Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="icon_prefix" type="email" class="validate" required [(ngModel)]="user.mail" name="mail">
                <label for="icon_prefix">Email</label>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="text" class="validate" required minlength="14" maxlength="14" pattern="(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}" [(ngModel)]="user.phone" name="phone">
                    <label for="icon_telephone">Phone (000) 000-0000</label>
                </div>
            </div>
            <button type="submit" class="btn right save">SAVE</button>
          </form>
        </div>
    </div>
  </div>




<div class="loader">
  <div class="preloader-background">
      <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
        </div>
  </div>
</div>
